* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  /* flex-direction: column; */
  text-align: center;
}

.wrapper > * {
  margin: 1.6rem;
  padding: 1.6rem;
  flex: 1 100%;
  border-radius: 0.6rem;
}

.navigation {
  background-color: antiquewhite;
}

.main {
  background-color: aqua;
  text-align: justify;
  font-size: 1.2rem;
}
